@font-face {
  font-family: "Bubbleboddy-Neue-Regular";

  src: url("../BubbleboddyNeue-trial.woff") format("woff");
}
@font-face {
  font-family: "Bubbleboddy-Neue-Trial-thin";
  src: url("../fonts/BubbleboddyNeueThin-trial.woff") format("woff");
}
