@font-face {
  font-family: "BubbleboddyNeueRegular";

  src: url("../BubbleboddyNeue-trial.woff") format("woff");
}
@font-face {
  font-family: "BubbleboddyNeueTrialThin";
  src: url("../fonts/BubbleboddyNeueThin-trial.woff") format("woff");
}
