@font-face {
  font-family: "Bubbleboddy-Neue-Regular";

  src: url("../fonts/BubbleboddyNeue-trial.ttf") format("ttf");
}
@font-face {
  font-family: "Bubbleboddy-Neue-Trial-thin";
  src: url("../fonts/BubbleboddyNeueThin-trial.ttf") format("ttf");
}
