@import "reset.css";
@import "fonts.css";


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 320px) {

  body {
    background-color: black;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .hover {
    opacity: 0.5;
  }

  .hover:hover {
    opacity: 1;
  }

  .star {
    width: 100vw;
  }

  .info {
    position: relative; z-index: 1;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
  }

  .info h1 {
    font-size: 43.5px;
    text-align: center;
    font-family: BubbleboddyNeue-trial, sans-serif;
    color: white;
    margin-bottom: 1.76vh;
  }

  .info h2 {
    margin-top: -1.76vh;
    font-size: 15px;
    text-align: center;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
  }

  .contain-info {
    padding-top: 1.76vh;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
  }

  .contain-info p {
    font-size: 19px;
  }

  .contain-info ul {
    padding-top: 1.76vh;
    font-size: 19px;
    text-align: left;
   }

   .contain-info li {
     list-style-type: none;
  }

  .contain-info li::before {
    content: "- ";
  }

  .goods {
    margin-top: 7.04vh;
    display: grid;
    grid-template-columns: 65.625vw;
    grid-template-rows: 54.577vh 54.577vh 54.577vh;
    padding-left: 17.1875vw;
  }

  .red {
    width: 65.625vw;
  }

  .white {
    width: 65.625vw;
  }

  .yellow {
    width: 65.625vw;
  }

  .blue {
    width: 65.625vw;
  }

  .four {
    position: relative; z-index: 2;
    margin-bottom: 3.521vh;
  }

  .goods p {
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
  }

  .goods p.hover {
    font-size: 15px;
  }

  .ground {
    margin-top: -17.6vh;
    width: 100vw;
    position: absolute;
  }

  .container {
    width: 100vw;
    background-color: black;
  }

  .menu {
    background-color: black;
    width: 100%;
  }

  .menu ul {
    position: relative;
    font-size: 15px;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
  }

}

@media (min-width: 768px) {

  body {
    background-color: black;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .hover {
    opacity: 0.5;
  }

  .hover:hover {
    opacity: 1;
  }

  .star {
    width: 100vw;;
  }

  .info {
    position: relative; z-index: 1;
    padding-left: 1.302vw;
    padding-right: 1.302vw;
  }

  .info h1 {
    font-size: 65px;
    text-align: center;
    font-family: BubbleboddyNeue-trial, sans-serif;
    color: white;
  }

  .info h2 {
    font-size: 25px;
    text-align: center;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
  }

  .contain-info {
    padding-top: 1.95vh;
    padding-left: 1.302vw;
    padding-right: 1.302vw;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
  }

  .contain-info p {
    font-size: 30.5px;
  }

  .contain-info ul {
    padding-top: 2.93vh;
    font-size: 30.5px;
    text-align: center;
   }

   .contain-info li {
     list-style-type: none;
  }

  .contain-info li::before {
    content: "- ";
  }

  .goods {
    margin-top: 4.88vh;
    display: grid;
    grid-template-columns: 39.06vw;
    grid-template-rows: 41.016vh 41.016vh 41.016vh;
    padding-left: 30.47vw;
  }

  .red {
    width: 39.06vw;
  }

  .white {
    width: 39.06vw;
  }

  .yellow {
    width: 39.06vw;
  }

  .blue {
    width: 39.06vw;
  }

  .three {
    position: relative; z-index: 3;
  }
  .four {
    position: relative; z-index: 2;
    margin-bottom: 3.91vh;
  }

  .goods p {
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
    text-align: center;
    font-size: 30.5px;
  }

  .goods p.hover {
    padding-top: 0.5vh;
    font-size: 20px;
  }

  .ground {
    width: 100vw;
    position: absolute;
    margin-top: -29.3vh;
  }

  .container {
    width: 100vw;
    background-color: black;
  }

  .menu {
    background-color: black;
    width: 100%;
  }

  .menu ul {
    position: relative;
    font-size: 20px;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 2.6vw;
    padding-right: 2.6vw;
  }

}

@media (min-width: 1024px) {

  body {
    background-color: black;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .hover {
    opacity: 0.5;
  }

  .hover:hover {
    opacity: 1;
  }

  .star {
    width: 100vw;;
  }

  .info {
    margin-top: -9.9vh;
    position: relative; z-index: 1;
    padding-left: 0.98vw;
    padding-right: 0.98vw;
  }

  .info h1 {
    font-size: 85px;
    text-align: center;
    font-family: BubbleboddyNeue-trial, sans-serif;
    color: white;
  }

  .info h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 0.73vh;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
  }

  .contain-info {
    padding-top: 1.46vh;
    padding-left: 0.98vw;
    padding-right: 0.98vw;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
  }

  .contain-info p {
    font-size: 33px;
  }

  .contain-info ul {
    padding-top: 2.196vh;
    font-size: 33px;
    text-align: center;
   }

   .contain-info li {
     list-style-type: none;
  }

  .contain-info li::before {
    content: "- ";
  }

  .goods {
    margin-top: 1.46vh;
    display: grid;
    grid-template-columns: 37.11vw 37.11vw;
    grid-template-rows: 33.3vh 33.3vh;
    padding-left: 12.89vw;
  }

  .red {
    padding-left: 3.905vw;
    width: 29.3vw;
  }

  .white {
    padding-left: 3.905vw;
    width: 29.3vw;
  }

  .yellow {
    padding-left: 3.905vw;
    width: 29.3vw;
  }

  .blue {
    padding-left: 3.905vw;
    width: 29.3vw;
  }

  .one {
    position: relative; z-index: 2;
  }

  .two {
    position: relative; z-index: 3;
  }

  .three {
    position: relative; z-index: 4;
  }

  .four {
    position: relative; z-index: 5;
  }

  .goods p {
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
    text-align: center;
    font-size: 33px;
  }

  .goods p.hover {
    padding-top: 0.73vh;
    font-size: 25px;
  }

  .ground {
    width: 100vw;
    position: absolute;
    margin-top: -29.3vh;
  }

  .container {
    width: 100vw;
    background-color: black;
  }

  .menu {
    background-color: black;
    width: 100%;
    margin-bottom: 1.46vh;
  }

  .menu ul {
    position: relative;
    font-size: 25px;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 1.95vw;
    padding-right: 1.95vw;
  }

}

@media (min-width: 1440px) {

  body {
    background-color: black;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .hover {
    opacity: 0.5;
  }

  .hover:hover {
    opacity: 1;
  }

  .star {
    width: 100vw;
    position: relative; z-index: 1
  }

  .info {
    margin-top: -21.1vh;
    position: relative; z-index: 2;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
  }

  .info h1 {
    font-size: 85px;
    text-align: center;
    font-family: BubbleboddyNeue-trial, sans-serif;
    color: white;
  }

  .info h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 1.67vh;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
  }

  .contain-info {
    padding-top: 2,78vh;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
  }

  .contain-info p {
    font-size: 34.5px;
  }

  .contain-info ul {
    padding-top: 3.33vh;
    font-size: 34.5px;
    text-align: center;
   }

   .contain-info li {
     list-style-type: none;
  }

  .contain-info li::before {
    content: "- ";
  }

  .goods {
    margin-top: 2.22vh;
    display: grid;
    grid-template-columns: 22.9vw 22.9vw 22.9vw 22.9vw;
    grid-template-rows: 50.56vh;
    padding-left: 4.2vw;
  }

  .red {
    padding-left: 2.77vw;
    width: 17.36vw;
  }

  .white {
    padding-left: 2.77vw;
    width: 17.36vw;
  }

  .yellow {
    padding-left: 2.77vw;
    width: 17.36vw;
  }

  .blue {
    padding-left: 2.77vw;
    width: 17.36vw;
  }

  .one {
    position: relative; z-index: 3;
  }

  .two {
    position: relative; z-index: 4;
  }

  .three {
    position: relative; z-index: 5;
  }

  .four {
    position: relative; z-index: 6;
  }

  .goods p {
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    color: white;
    text-align: center;
    font-size: 34.5px;
  }

  .goods p.hover {
    padding-top: 1.11vh;
    font-size: 28px;
  }

  .ground {
    width: 100vw;
    position: absolute;
    margin-top: -70vh;
  }

  .container {
    width: 768px;
    background-color: black;
  }

  .menu {
    background-color: black;
    width: 100%;
  }

  .menu ul {
    position: relative;
    font-size: 28px;
    font-family: BubbleboddyNeueThin-trial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 1.39vw;
    padding-right: 1.39vw;
  }

}
